

services:
  postgres:
    image: postgres:17.2-alpine3.21
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=emed_user
      - POSTGRES_PASSWORD=emed_password
      - POSTGRES_DB=emed_platform

  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - postgres